@media(max-width:480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .top-bar {
        background-color: gray;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3vh 2vw;
        position: relative;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(1rem, 4vw, 2rem);
        font-weight: bold;
        gap: 8px;
        margin: 0 auto;
        color: white;
    }

    /* sidebar */
    .open-btn {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        cursor: pointer;
        background-color: gray;
        color: white;
        padding: 1px 15px;
        border: none;
        border-radius: 5px;
    }


    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
    }

    .sidebar a {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        background-color: gray;
    }

    /* Botão de fechar */
    .close-btn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    #cor {
        background-color: #e28c50;
        height: 80vh;
    }


    .texto {
        margin-left: 4vh;
        padding-top: 3vh;
        color: white;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .texto h1 {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        /* Tamanho adaptável */
    }

    .desempenho {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2vh;
        border: none;
        border-radius: 20vh;
        height: 4vh;
        width: 30vw;
        padding: 2vh;
    }

    .informações {
        margin-left: 4vh;
        padding-top: 2vh;
        color: white;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;
    }


    body {
        font-family: Arial, sans-serif;
        background-color: #f47920;
        color: white;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #5a5a5a;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        font-weight: bold;
        font-size: 20px;
    }

    nav button {
        background: none;
        border: none;
        color: white;
        margin-left: 10px;
        cursor: pointer;
    }

    h1 {
        padding: 20px;
    }

    h1 span {
        font-weight: bold;
    }

    #desempenho {
        background-color: white;
        color: #f47920;
        border: none;
        padding: 10px 20px;
        margin-left: 20px;
        cursor: pointer;
        border-radius: 10px;
    }

    #graficos {
        display: flex;
        justify-content: space-around;
        margin: 20px;
    }

    .grafico {
        margin-top: 5vh;
        text-align: center;
        width: 30%;
    }

    #info-breve {
        background-color: #e36500;
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li::before {
        content: "• ";
        color: yellow;
        font-weight: bold;
    }

}