@media(max-width:480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* navbar */
  .top-bar {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 2vw;
  }

  .menu-icon i {
    font-size: 20px;
  }


  .logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    gap: 8px;
    margin-left: 15vw;
  }

  .icons i {
    background-color: gray;
    margin-left: 15px;
    font-size: 16px;
    color: white;
    padding: 10px;
  }


  .icons i:hover {
    background-color: orange;
  }

  .icons .ativo {
    background-color: #ffc107;
    padding: 3px;
    border-radius: 4px;
  }

  .open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: gray;
    color: white;
    padding: 1px 15px;
    border: none;
    top: 10px;
    left: 20px;
    border-radius: 5px;
  }

  /* aba lateral */
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    background-color: gray;
  }

  /*fechar */
  .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  .caixa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    width: 72vw;
    height: 40vh;
    border: 1px solid black;
    margin-left: 14vw;
  }

  .inserir input {
    padding: 1.5vh;
    border-radius: 10vw;
    margin-top: 4vh;
  }

  .inserir2 input {
    padding: 1.5vh;
    margin-top: 4vh;
    border-radius: 10vw;
  }

  .caixa h1 {
    position: relative;
    font-size: 4vh;
  }

  .botao {
    margin-left: 30vw;
    padding: 3vh;
  }

  .enviar {
    border: none;
    color: white;
    background-color: #ffc107;
    border-radius: 10vh;
    width: 20vw;
  }

  .linha {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
  }

  .flexivel {
    margin-left: 14vw;
  }

  .mapa {
    display: flex;
    justify-content: center;
    border-radius: 20vw;
  }

  iframe {
    height: 30vh;
    max-width: 85vw;
  }

}