
@media(max-width:480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #navbar {
        height: 10vh;
        background-color: #f1edaa;
        display: flex;
    }
    
    #navbar input {
        background-color: white;
        border-radius: 10vw;
        color: black;
    }
    
    #rodape {
        width: 200vw;
        bottom: 0;
        position: fixed;
        height: 10vh;
        background-color: #f1edaa;
        align-items: center;
        justify-content: center;
    }
    
    #icones {
        margin: 2vh;
        font-size: 7vw;
        display: flex;
        gap: 20vw;
    }
    
    .pesquisa {
        padding: 3vh;
    }
    .bairro {
        padding: 2vh;
    }

    .flexivel {
        display: flex;
    }

    i {
       color: black; 
    }
}




