
@media(max-width:480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #navbar {
        height: 10vh;
        background-color: #6b6262;
        display: flex;
        gap: 5vw;
    }

    .icone {
        margin-left: 55vw;
        margin-top: 2vh;
        font-size: 3vh;
        color: white;
    }

    .icone p {
        font-size: 1vh;
    }

    .icone2 {
        margin-top: 2vh;
        font-size: 3vh;
        color: white;
    }

    .icone2 p {
        font-size: 1vh;
    }

    .icone3 {
        margin-top: 2vh;
        font-size: 3vh;
        color: white;
    }

    .icone3 p {
        font-size: 1vh;
    }

    .abrir {
        color: white;
        margin-left: 2vw;
        margin-top: 3vh;
    }


}   


