@media(max-width:480px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* navbar */
    .top-bar {
        background-color: gray;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3vh 2vw;
        position: relative;
    }


    .menu-icon i {
        font-size: 20px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: clamp(1rem, 4vw, 2rem);
        font-weight: bold;
        gap: 8px;
        margin: 0 auto;
        color: white;
    }


    input {
        border-radius: 10vw;
    }

    /* sidebar */
    .open-btn {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        cursor: pointer;
        background-color: gray;
        color: white;
        padding: 1px 15px;
        border: none;
        border-radius: 5px;
    }

    /* Sidebar */
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.3s;
        padding-top: 60px;
        z-index: 1;
    }

    .sidebar a {
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        background-color: gray;
    }

    /* Botão de fechar */
    .close-btn {
        position: absolute;
        top: 20px;
        right: 25px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .pesquisa {
        display: flex;
        justify-content: center;
        margin-top: 2vh;
        border-radius: 20vh;
        height: 5vh;
        gap: 2vw;
    }

    .lupa {
        margin-top: 6px;
    }

    /* linha */
    hr {
        z-index: 0;
    }

    select {
        width: 50%;
        border: none;
        padding: 2vh;
    }

    /* Mudar de tela */
    .icons a {
        text-decoration: none;
    }

    /* botões para desativar e editar linhas */
    .editar button {
        height: 4vh;
        width: 20vw;
        background-color: orange;
        border-radius: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        border: none;
    }

    .desativar button {
        height: 4vh;
        width: 20vw;
        background-color: rgb(255, 187, 0);
        border-radius: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        border: none;
        margin-left: 2vw;
    }

    /* fiz isso para deixar os buttons do lado das linhas */
    .central {
        display: flex;
    }

    .norte {
        display: flex;
    }

    .sul {
        display: flex;
    }

    .leste {
        display: flex;
    }

    .oeste {
        display: flex;
    }
}