@media(max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    #navbar {
        height: 10vh;
        background-color: #f1edaa;
        display: flex;
        gap: 40vw;
    } 

    .navegacao {
        margin-left: 3vw;
        padding-top: 4vh;
    }

    .nomeR {    
        gap: 30vw;
        display: flex;
        padding-top: 4vh;
    }
    
    
    #rodape {
    width: 200vw;
    bottom: 0;
    position: fixed;
    height: 10vh;
    background-color: #f1edaa;
    align-items: center;
    justify-content: center;
    }

    #icones {
        margin: 2vh;
        font-size: 7vw;
        display: flex;
        gap: 20vw;
    }
    
    i {
        color: black; 
        }
    }