@media(max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    #navbar {
        height: 10vh;
        background-color: #f1edaa;
        gap: 40vw;
        width: 100%;
    } 

    .navegacao {
        display: flex;
        padding-top: 3vh;
    }

    .inconenav{
        height: 10vh;
    }
    .monitoramento {
        margin-left: 4vw;
        font-size: 2vh;
    }

    #rodape {
    width: 200vw;
    bottom: 0;
    position: fixed;
    height: 10vh;
    background-color: #f1edaa;
    align-items: center;
    justify-content: center;
    }

    #icones {
        margin: 2vh;
        font-size: 7vw;
        display: flex;
        gap: 20vw;
    }
    
    i {
        color: black; 
        }


    #inspecoes {
        padding-top: 4vh;
        margin: 3vw;
    }

    #alertas {
        padding-top: 4vh;
        margin: 3vw;
    }

    .caixa1 {
        padding: 6vw;
        background-color: antiquewhite;
        width: 95vw;
        margin: 2vw;
        border-radius: 4vw;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2) ;
        display: flex;
        gap: 2vw;
    }
    .caixa2 {
        padding: 6vw;
        background-color: antiquewhite;
        width: 95vw;
        margin: 2vw;
        border-radius: 4vw;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2) ;
        display: flex;
        gap: 2vw;
    }
    .caixa3 {
        padding: 6vw;
        background-color: antiquewhite;
        width: 95vw;
        margin: 2vw;
        border-radius: 4vw;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2) ;
        display: flex;
        gap: 2vw;
    }

    #enviar {
        padding: 2.5vh;
        transition: all 0.3s ease;
    }
    
    #enviar:hover {
        transform: scale(1.1); 
    }

    .entrar {   
        margin: 0 auto;
        color: white;
        border-radius: 10vw;
        width: 34vw;
        background-color: blue;
        border: none;
        padding: 1vh;
        display: flex;
        align-items: center;
        font-size: 4vw;
    }
    
    
    }