@media(max-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    #navbar {
        height: 10vh;
        background-color: #f1edaa;
        display: flex;
        gap: 40vw;
    } 

    .navegacao {
        margin: 2vw;
        padding-top: 4vh;
    }

    .nomeR {    
        /*arrumar errado de mais*/  
        padding-top: 4vh;
    }

    
    #rodape {
    width: 200vw;
    bottom: 0;
    position: fixed;
    height: 10vh;
    background-color: #f1edaa;
    align-items: center;
    justify-content: center;
    }

    #icones {
        margin: 2vh;
        font-size: 7vw;
        display: flex;
        gap: 20vw;
    }
    
    i {
        color: black; 
        }


    #inspecoes {
        padding-top: 4vh;
        margin: 3vw;
    }

    .caixa1 {
        padding: 6vw;
        background-color: antiquewhite;
        width: 95vw;
        margin: 2vw;
        border-radius: 4vw;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2) ;
        display: flex;
        gap: 2vw;
    }
    .caixa2 {
        padding: 6vw;
        background-color: antiquewhite;
        width: 95vw;
        margin: 2vw;
        border-radius: 4vw;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2) ;
        display: flex;
        gap: 2vw;
    }
    .caixa3 {
        padding: 6vw;
        background-color: antiquewhite;
        width: 95vw;
        margin: 2vw;
        border-radius: 4vw;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2) ;
        display: flex;
        gap: 2vw;
    }

    
    }