@media(max-width: 480px) {

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    height: 10vh;
    background-color: #f1edaa;
    display: flex;
    gap: 160px;
}


#rodape {
    width: 100vw;
    bottom: 0;
    position: fixed;
    height: 10vh;
    background-color: #f1edaa;
    align-items: center;
    justify-content: center;
}

.flexivel {
    display: flex;
}

#icones {
    margin: 2vh;
    font-size: 33px;
    display: flex;
    gap: 100px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#icones:hover {
    transform: scale(1.1); 
}

#ajustar { /*Ajustar lá para baixo, ou outros */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 10vh;
    width: 60vw;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.2) ;
    transition: all 0.3s ease;
}

#ajustar:hover {
    transform: scale(1.1); 
}

.navegacao {
    margin-left: 10px;
    padding-top: 30px;
}

.nomeR {    
    gap: 100px;
    display: flex;
    padding-top: 30px;
}

    i {
    color: black; 
    }

}