
@media(max-width:400px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #navbar {
        height: 10vh;
        background-color: #f1edaa;
        display: flex;
    }
    
    #navbar input {
        background-color: white;
        border-radius: 10px;
        color: black;
        width: 80%;
    }
    
    #rodape {
        width: 100%;
        bottom: 0;
        position: fixed;
        height: 10vh;
        background-color: #f1edaa;
        align-items: center;
        justify-content: center;
    }
    
    #icones {
        margin: 20px;
        font-size: 33px;
        display: flex;
        gap: 70px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
    
    #icones:hover {
        transform: scale(1.1); 
    }
    
    .pesquisa {
        padding: 20px;
    }
    .bairro {
        padding: 20px;
    }

    .flexivel {
        display: flex;
    }

    .block1 {
        margin-top: 100px;
        background-color: rgb(151, 148, 148);
        width: 50vw;
        height: 15vh;
        box-shadow: 0 4px 8px rgba(0,0,0, 0.2) ;
    }

    .block1 i {
        font-size: 30px;
    }
}

