* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    padding: 5vh;
    background-color: #35a8a8;
} 

#navbar input {
    background-color: #007c7c;
    border-radius: 10px;
    color: white;
    
}

#rodape {
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 5vh;
    background-color: #35a8a8;
}