* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: white;
    padding-bottom: 70px;
  }
  .imagem img {
    width: 10px;
  }
  header {
    background: #a9a9a9;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header h1 {
    font-size: 16px;
    flex: 1;
    text-align: center;
  }
  
  .back-btn {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .header-icons span {
    margin-left: 10px;
    font-size: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  .map-container img {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .alerta {
    background-color: #fff9c4;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #fbc02d;
    border-radius: 6px;
    margin-bottom: 20px;
  }
  
  .btn-ajustar {
    text-align: center;
  }
  
  .btn-ajustar button {
    background: white;
    border: 2px solid #ccc;
    box-shadow: 3px 3px 5px #aaa;
    border-radius: 12px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .btn-ajustar button:hover {
    background: #f0f0f0;
  }
  
  footer {
    background: #a9a9a9;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer span {
    font-size: 24px;
  }